<div class="shift-header">
  <div class="left-header">
    <div class="header-title">
      <%= @group.name %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "グループを退出する", group_path(@group), method: :delete %>
    </div>
  </div>
</div>

<div class="messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@group, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>