<div class="group-header">
  <div class="header-left">
    <div class="header-title">
      <%= @group.name %>
    </div>
    <div class="schedule" id="schedule-btn">
    <% if @group.meeting.blank? %>
      <%= link_to "スケジュール作成", new_group_meeting_path(@group), class: "schedule-new" %>
    <% else %>
      <%= link_to "スケジュール確認", group_meetings_path(@group), class: "schedule-existing" %>
    <% end %>
    </div>
  </div>
  <div class="group-edit-button" id="group-info">
    <%= image_tag 'arrow_top.png' %>
    <ul class="group-info-lists hidden" id="group-pull-down">
      <li class="pull-down-list"><%= link_to "グループを編集", edit_group_path(@group), class: "group-info-bar"%></li>
      <li class="pull-down-list"><%= link_to "グループを削除", group_path(@group), method: :delete, class: "group-info-bar" %></li>
    </ul>
  </div>
</div>

<div class="messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@group, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'メッセージを入力' %>
  </div>
  <%= f.submit '送信', class: 'form-submit', id: "submit-btn" %>
<% end %>