<div class="group-header">
  <div class="header-title">
    <%= @group.name %>
  </div>
  <div class="header-right">
     <div class="schedule" >
        <%= link_to "メッセージを開く", group_messages_path(@group), id: "schedule-btn" %>
    </div>
    <div class="group-edit-button" id="group-info">
      <%= image_tag 'arrow_top.png' %>
      <ul class="group-info-lists hidden" id="group-pull-down">
        <li class="pull-down-list"><%= link_to "グループを編集", edit_group_path(@group), class: "group-info-bar"%></li>
        <li class="pull-down-list"><%= link_to "グループを削除", group_path(@group), method: :delete, data: { confirm: 'グループを削除してもよろしいですか?' }, class: "group-info-bar" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="event-contents-show">
  <div class="event-show-icon">
    <%= image_tag 'event.png', size: '130x130' %>
  </div>
  <div class="event-contents">
    <p>タイトル</p>
    <span class="event-element"><%= @meeting.title %></span>
  </div>
  <div class="event-contents">
    <p>日時</p>
    <span class="event-element"><%= @meeting.start_time.strftime("%Y-%m-%d %H:%M") %></span>
  </div>
  <div class="event-contents">
    <p>内容</p>
    <span class="event-element"><%= @meeting.content %></span>
  </div>
  <div class="event-contents-link">
    <%= link_to '編集する', edit_group_meeting_path(@group, @meeting.id), class: "event-edit-link" %>
    <%= link_to '戻る', group_meetings_path(@group), class: "page-back" %>
  </div>
</div>