<div class="container">
  <h1>アカウントを編集</h1>
  <div class="flame-form">
  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_account', local: true do |f| %>
    <%= render 'devise/shared/error_messages', model: f.object %>
    <div id="image-list">
    <% if @user.image.present? %>
      <%= image_tag @user.image, :size => '100x100' %>
    <% else %>
      <%= image_tag "default.png", :size => '100x100' %>
    <% end %>
    </div>
    <div class="field">
      <div class='field-label'>
        <%= f.label :プロフィール画像 %>
      </div>
      <div class="field-input">
        <%= f.file_field :image,　class: 'text-area' %>
      </div>
    </div>
    <div class="field">
      <div class='field-label'>
        <%= f.label :名前 %>
      </div>
      <div class='field-input'>
        <%= f.text_area :name, autofocus: true, class: 'text-area' %>
      </div>
    </div>
    <div class="field">
      <div class='field-label'>
        <%= f.label :メールアドレス %>
      </div>
      <div class='field-input'>
        <%= f.email_field :email, autofocus: true, class: 'text-area' %>
      </div>
    </div>
    <div class="field">
      <div class='field-label'>
        <%= f.label :現在のパスワード %> <i>(変更にはパスワードが必要です)</i>
      </div>
      <div class='field-input'>
        <%= f.password_field :current_password, autocomplete: "off", class: "text-area", placeholder: "必須項目です" %>
      </div>
    </div>
    <div class="field">
      <div class='field-label'>
        <%= f.label :パスワード変更 %><i> (変更したい場合)</i>
      </div>
      <div class='field-input'>
        <%= f.password_field :password, autocomplete: "off", class: 'text-area', placeholder:"6文字以上の半角英数字" %>
      </div>
    <div class="field">
      <div class='field-label'>
        <%= f.label :パスワード変更 %><i> (確認)</i>
      </div>
      <div class='field-input'>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'text-area' %>
      </div>
    </div>
    <div class='actions'>
      <%= f.submit "アカウントを更新", class: 'btn' %>
    </div>
  <% end %>
  </div>
</div>
<div class='top-page-back', id="image">
  <%= link_to "トップページへ戻る",root_path , class: "user-session-link"%>
</div>