<div class="container">
  <h1>サインイン</h1>
  <div class='error-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <div class="field">
      <div class='field-label'>
        <%= f.label :メールアドレス %>
      </div>
      <div class='field-input'>
        <%= f.email_field :email, autofocus: true, class: 'text-area' %>
      </div>
    </div>
    <div class='field'>
      <div class='field-label'>
        <%= f.label :パスワード %>
      </div>
      <div class='field-input'>
        <%= f.password_field :password, autocomplete: "off", class: 'text-area' %>
      </div>
    </div>
    <div class='actions'>
      <%= f.submit "サインイン", class: 'btn' %>
    </div>
  <% end %>
<h4>アカウントを持っていますか？</h4>
<%= link_to "アカウントを作成",  new_user_registration_path, class: 'new-sign-up'%>
</div>
